*{
  margin:0;
  padding:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  width:100vw;
  min-height:100vh;
  box-sizing:border-box;
  padding:15px;
  background-color:#1f1f1f;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  overflow-y:auto;
  overflow-x:auto;
}

body::-webkit-scrollbar {
  width:0.5px;
}




