#navbar{
    width:100%;
    height:80px;
    background-color:black;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    box-sizing:border-box;
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center; 
    position:sticky;
    z-index:2000;
    top:0;
    left:0;
    right:0;
    /* margin-left:-15px;
    margin-right:15px; */
  }
  
  #container1{
    display:flex;
    height:100%;
    justify-content:flex-start;
    align-items:center;
  }
  
  #container2{
    display:flex;
    height:100%;
    justify-content:flex-end;
    align-items:center;
  }
  
  #container1 svg{
    padding:5px;
  }
  
  #container1 svg:hover{
    background-color:rgba(200, 201, 204,0.2);
    border-radius:10px;
    cursor:pointer;
  }
  
  #container1 img{
    border-right:2px solid white;
    margin-right:10px;
  }
  #container1 img:hover{
    cursor:pointer;
  }
  
  .menu{
    font-weight:600;
    font-size:12px;
    margin-right:15px;
    padding:5px;
    color:white;
  }
  .menu:hover{
    cursor:pointer;
    background-color: rgba(200, 201, 204,0.2);
    border-radius:10px;
  }
  
  #search{
    font-weight:600;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:10px;
    padding:5px;
    color:white;
  }
  #search:hover{
    cursor:pointer;
    background-color: rgba(200, 201, 204,0.2);
    border-radius:10px;
  }
  
  #profile{
    font-weight:600;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:10px;
    padding:5px;
    color:white;
  }
  #profile:hover{
    cursor:pointer;
    background-color: rgba(200, 201, 204,0.2);
    border-radius:10px;
  }

  #login{
    font-weight:600;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:5px;
    padding:5px;
    color:white;
  }
  #login:hover{
    cursor:pointer;
    background-color: rgba(200, 201, 204,0.2);
    border-radius:10px;
  }
  #ticket{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  #ticket > div{
    visibility:hidden;
  }
  
  #ticket:hover > div{
    visibility:visible;
  }

  #ticket > div > div:hover{
    background-color: rgba(200, 201, 204,0.2);
    border-radius:10px;
    padding:5px;
  }
  
  #more{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  #more > div{
    visibility:hidden;
  }
  #more:hover > div{
    visibility:visible;
  }

  #more > div > div:hover{
    background-color: rgba(200, 201, 204,0.2);
    border-radius:10px;
    padding:5px;
  }
 
  .box{
    position:absolute;
    top:40px;
    display:flex;
    flex-direction:column;
    background-color:white;
    color:#2e2c28;
    padding:10px;
    width:180px;
    border-radius:10px;
    
  }
  
  .box div{
    margin:5px;
  }
  
  .rhombus{
    position:absolute;
    top:32px;
    width:15px;
    height:15px;
    background-color:white;
    transform:rotate(45deg);
  }

  #sidebar{
    position:fixed;
    width:25rem;
    height:100vh;
    top:0;
    left:0;
    background-color:#1f1f1f;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    z-index:3;
  }
  
  #Layer_1{
    padding:42px 0px 21px 22px;
    height:25px;
    width:25px;
  }
  
  #Layer_1:hover{
    cursor:pointer;
  }
  .iccimage{
    width:171px;
    height:36px;
  }
  #snavbar{
    display:flex;
    height:115px;
    flex-shrink:0;
  }

  #snavbar div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-grow:1;
  }
  
  #sidemain{
    border-top:1px solid hsl(206 11% 58%);
    display:flex;
    flex-direction:column;
    padding:20px 30px 0px 30px;
    height:536px;
    overflow-y:scroll;
    box-sizing:border-box;
    background-color:black;
    flex-shrink:0;
  }
  #sidemain div{
    font-size:24px;
    font-weight:650;
    margin-bottom:20px;
    color:white;
  }

  #sidemain div:hover{
    cursor:pointer;
  }
  
  #sfooter{
    display:flex;
    padding:10px;
    height:78.6px;
    box-sizing:border-box;
    justify-content:space-between;
    box-shadow: 0 0 10px 0 black;
  }

  #social-icons{
    display:flex;
    
    align-items:center;
  }

  #social-icons svg{
    margin-right:10px;
  }
  
  #dropdown{
    display:flex;
    align-items:center;
  }

  #language{
    background-color:#1f1f1f;
    border:none;
    font-weight:800;
    font-size:10px;
    color:white;
  }
                                                                                                                                        
