#videoSection{
    background-color:black;
    
    width:100%;
    box-sizing:border-box;
    padding:10px;
  }
  
  #videoSection h1{
    color:white;
    font-size:38px;
    margin-bottom:40px;
  }
  
  #video-navbar{
    display:flex;
    flex-direction:row;
    font-size:12px;
    width:100%;
    justify-content:flex-start;
    color:white;
    border-bottom:1px solid #1f1f1f; 
    height:20px;
    align-items:center;
    margin-bottom:20px;
  }
  
  #video-navbar div{
    margin-right:10px;
    font-weight:700;
    padding:5px;
    margin-bottom:5px;
  }
  
  #container{
    width:100%;
    display:flex;
    overflow-x:hidden;
  }
  
  #container div{
    flex-shrink:0;
    width:402px;
    height:541px;
    border-radius:15px;
    padding:10px 10px 30px 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    color:white;
    box-sizing:border-box;
    margin-right:10px;
    font-weight:800;
    font-size:16px;
    box-shadow: 0 -100px 20px rgba(0, 0, 0, 0.5) inset;
  }
  
  .scroll-next{
    position:absolute;
    right:10px;
    width:100px;
    height:541px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to right, transparent, white);
  }
  
  .scroll-previous{
    position:absolute;
    left:10px;
    width:100px;
    height:541px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to left, transparent, white);
  }